In [1]:
from data_read import Read
from network import Network
from node_2_vec import NodeVec

In [2]:
read = Read()
network = Network()
nod = NodeVec()

## Protein-Protein

In [3]:
pr_pr  = read.mat_protein_protein()

In [4]:
pr_pr

,Q9UI32,P00488,P35228,P06737,P11766,P50213,P30542,P00519,P12319,P00451,...,O15111,Q99835,P02708,P11230,Q07001,P07510,Q04844,P31327,P0C0L4,P0C0L5
Protein,,,,,,,,,,,,,,,,,,,,,
Q9UI32,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
P00488,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
P35228,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
P06737,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
P11766,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
P07510,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
Q04844,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
P31327,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
P0C0L4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
P0C0L5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
stack_pr_pr = network.pandas_mat_2_stack(pr_pr)

In [6]:
stack_pr_pr

      source  target  weight
0     Q9UI32  O14936       1
1     Q9UI32  P78352       1
2     P00488  P00488       1
3     P00488  P00734       1
4     P00488  P02671       1
...      ...     ...     ...
7358  Q04844  P02708       1
7359  P31327  P04049       1
7360  P0C0L5  P00751       1
7361  P0C0L5  P15529       1
7362  P0C0L5  P68104       1

[7363 rows x 3 columns]

In [7]:
gr_pr_pr = network.stack_2_graph(stack_pr_pr)

In [8]:
type(gr_pr_pr)

networkx.classes.digraph.DiGraph

In [9]:
model1 = nod.node_2_vec(gr_pr_pr,"./models/pr_pr.model")

Computing transition probabilities:   0%|          | 0/1244 [00:00<?, ?it/s]

Generating walks (CPU: 1): 100%|███████████████████████████████████████████████████████| 10/10 [00:43<00:00,  4.36s/it]

In [10]:
values = nod.returnSimilars(model1,"Q9UI32")

In [11]:
values

[('O14936', 0.9283767938613892),
 ('Q9NZV8', 0.9098398685455322),
 ('P78352', 0.908597469329834),
 ('Q09470', 0.8932533860206604),
 ('O60391', 0.8889424800872803),
 ('Q14957', 0.8861860036849976),
 ('P33402', 0.8669332265853882),
 ('P39086', 0.8605706691741943),
 ('Q14500', 0.8563694357872009),
 ('Q14524', 0.8557127118110657)]

## Drug-Protein

In [15]:
dr_pr = read.mat_drug_protein()

In [21]:
dr_pr

,Q9UI32,P00488,P35228,P06737,P11766,P50213,P30542,P00519,P12319,P00451,...,O15111,Q99835,P02708,P11230,Q07001,P07510,Q04844,P31327,P0C0L4,P0C0L5
Drug,,,,,,,,,,,,,,,,,,,,,
DB00050,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
DB00152,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
DB00162,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
DB00175,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
DB00176,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
DB06711,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
DB06800,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
DB06811,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
DB08826,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
DB08860,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
stack_dr_pr = network.pandas_mat_2_stack(dr_pr)

In [17]:
gr_dr_pr = network.stack_2_graph(stack_dr_pr)

In [18]:
model2 = nod.node_2_vec(gr_dr_pr,"./models/dr_pr.model")

Computing transition probabilities:   0%|          | 0/970 [00:00<?, ?it/s]

Generating walks (CPU: 1): 100%|██████████████████████████████████████████████████████| 10/10 [00:00<00:00, 333.03it/s]

In [22]:
values = nod.returnSimilars(model2,"DB00050")

In [40]:
stack_dr_pr

       source  target  weight
0     DB00050  P22888       1
1     DB00050  P30968       1
2     DB00162  P10745       1
3     DB00162  P09455       1
4     DB00162  P00352       1
...       ...     ...     ...
1918  DB06711  P08913       1
1919  DB06711  P35348       1
1920  DB06800  P41145       1
1921  DB06800  P35372       1
1922  DB08860  P04035       1

[1923 rows x 3 columns]

In [34]:
values

[('P35219', 0.42947858572006226),
 ('Q9H169', 0.3549387454986572),
 ('P09455', 0.3420325219631195),
 ('DB01086', 0.32467493414878845),
 ('DB01275', 0.32398542761802673),
 ('P00734', 0.32387039065361023),
 ('P06401', 0.31582310795783997),
 ('P59768', 0.2997855246067047),
 ('DB00535', 0.29774659872055054),
 ('DB00211', 0.292684942483902)]

In [38]:
elements = []
for a in values:
    if a[0][0:2] != "DB":
        elements.append(a)

In [39]:
elements

[('P35219', 0.42947858572006226),
 ('Q9H169', 0.3549387454986572),
 ('P09455', 0.3420325219631195),
 ('P00734', 0.32387039065361023),
 ('P06401', 0.31582310795783997),
 ('P59768', 0.2997855246067047)]

## Drug-Drug

In [41]:
dr_dr = read.mat_drug_drug()

In [46]:
dr_dr

,DB00050,DB00152,DB00162,DB00175,DB00176,DB00177,DB00178,DB00180,DB00181,DB00182,...,DB06335,DB06402,DB06695,DB06698,DB06710,DB06711,DB06800,DB06811,DB08826,DB08860
Drug,,,,,,,,,,,,,,,,,,,,,
DB00050,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
DB00152,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
DB00162,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
DB00175,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
DB00176,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
DB06711,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
DB06800,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
DB06811,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
DB08826,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
DB08860,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [42]:
stack_dr_dr = network.pandas_mat_2_stack(dr_dr)

In [48]:
stack_dr_dr

        source   target  weight
0      DB00162  DB00307       1
1      DB00162  DB00459       1
2      DB00162  DB01083       1
3      DB00175  DB00932       1
4      DB00175  DB01039       1
...        ...      ...     ...
10031  DB08860  DB00199       1
10032  DB08860  DB01039       1
10033  DB08860  DB01072       1
10034  DB08860  DB01241       1
10035  DB08860  DB01394       1

[10036 rows x 3 columns]

In [43]:
gr_dr_dr = network.stack_2_graph(stack_dr_dr)

In [44]:
model3 = nod.node_2_vec(gr_dr_dr,"./models/dr_dr.model")

Computing transition probabilities:   0%|          | 0/572 [00:00<?, ?it/s]

Generating walks (CPU: 1): 100%|███████████████████████████████████████████████████████| 10/10 [00:32<00:00,  3.27s/it]

In [49]:
values = nod.returnSimilars(model3,"DB00162")

In [50]:
values

[('DB01083', 0.8945713043212891),
 ('DB00307', 0.8716517090797424),
 ('DB00459', 0.842354953289032),
 ('DB00560', 0.8313876986503601),
 ('DB00618', 0.7725749015808105),
 ('DB01017', 0.7424582839012146),
 ('DB00713', 0.7183026075363159),
 ('DB00485', 0.7144820094108582),
 ('DB00417', 0.7074992656707764),
 ('DB00578', 0.7010392546653748)]

## Drug-Disease

In [4]:
dr_dis = read.mat_drug_disease()

In [5]:
stack_dr_dis = network.pandas_mat_2_stack(dr_dis)

In [6]:
stack_dr_dis

         source                                             target  weight
0       DB00050                                depressive disorder       1
1       DB00050                          drug-induced liver injury       1
2       DB00050                                  mercury poisoning       1
3       DB00050                                           necrosis       1
4       DB00050                                          neoplasms       1
...         ...                                                ...     ...
199209  DB08860        plasmodium falciparum blood infection level       1
199210  DB08860            amyotrophic lateral sclerosis, sporadic       1
199211  DB08860                                        anthracosis       1
199212  DB08860  granulomatous disease, chronic, autosomal rece...       1
199213  DB08860  microvascular complications of diabetes, susce...       1

[199214 rows x 3 columns]

In [8]:
gr_dr_dis = network.stack_2_graph(stack_dr_dis)

In [9]:
model4 = nod.node_2_vec(gr_dr_dis,"./models/dr_dis.model")

Computing transition probabilities:   0%|          | 0/5890 [00:00<?, ?it/s]

Generating walks (CPU: 1): 100%|███████████████████████████████████████████████████████| 10/10 [00:00<00:00, 26.64it/s]

In [11]:
values = nod.returnSimilars(model4,"DB00162")

In [12]:
values

[('micrognathism', 0.4548149108886719),
 ('neuroleptic malignant syndrome', 0.40985825657844543),
 ('dentinogenesis imperfecta', 0.40502065420150757),
 ('segawa syndrome, autosomal recessive', 0.40320318937301636),
 ('hepatitis, animal', 0.39869561791419983),
 ('hypercarotenemia and vitamin a deficiency, autosomal dominant',
  0.39761269092559814),
 ('anemia, megaloblastic', 0.3829951882362366),
 ('DB01204', 0.3822530210018158),
 ('noonan syndrome 7', 0.38051021099090576),
 ('spondyloepiphyseal dysplasia, kimberley type', 0.3767220377922058)]

In [13]:
elements = []
for a in values:
    if a[0][0:2] != "DB":
        elements.append(a)

In [14]:
elements

[('micrognathism', 0.4548149108886719),
 ('neuroleptic malignant syndrome', 0.40985825657844543),
 ('dentinogenesis imperfecta', 0.40502065420150757),
 ('segawa syndrome, autosomal recessive', 0.40320318937301636),
 ('hepatitis, animal', 0.39869561791419983),
 ('hypercarotenemia and vitamin a deficiency, autosomal dominant',
  0.39761269092559814),
 ('anemia, megaloblastic', 0.3829951882362366),
 ('noonan syndrome 7', 0.38051021099090576),
 ('spondyloepiphyseal dysplasia, kimberley type', 0.3767220377922058)]

## Protein-Drug

In [16]:
pr_dr = read.mat_protein_drug()

In [17]:
stack_pr_dr = network.pandas_mat_2_stack(pr_dr)

In [18]:
gr_pr_dr = network.stack_2_graph(stack_pr_dr)

In [19]:
stack_pr_dr

      source   target  weight
0     P35228  DB01110       1
1     P35228  DB01234       1
2     P30542  DB00201       1
3     P30542  DB00277       1
4     P30542  DB00640       1
...      ...      ...     ...
1918  P02708  DB00674       1
1919  P11230  DB00674       1
1920  Q07001  DB00674       1
1921  P07510  DB00674       1
1922  Q04844  DB00674       1

[1923 rows x 3 columns]

In [24]:
model5 = nod.node_2_vec(gr_pr_dr,"./models/pr_dr.model")

Computing transition probabilities:   0%|          | 0/970 [00:00<?, ?it/s]

Generating walks (CPU: 1): 100%|██████████████████████████████████████████████████████| 10/10 [00:00<00:00, 356.83it/s]

In [26]:
values = nod.returnSimilars(model5,"P35228")

In [27]:
values

[('DB00842', 0.40388938784599304),
 ('DB04839', 0.36395198106765747),
 ('DB01032', 0.35873425006866455),
 ('DB00050', 0.3439180254936218),
 ('P43119', 0.3388284742832184),
 ('P10109', 0.33669278025627136),
 ('DB00829', 0.31730249524116516),
 ('DB00231', 0.3090876340866089),
 ('DB00315', 0.308757483959198),
 ('DB01120', 0.30286216735839844)]

In [28]:
elements = []
for a in values:
    if a[0][0:2] != "DB":
        elements.append(a)

In [29]:
elements

[('P43119', 0.3388284742832184), ('P10109', 0.33669278025627136)]

## Protein-Disease

In [30]:
pr_dis = read.mat_protein_disease()

In [31]:
stack_pr_dis = network.pandas_mat_2_stack(pr_dis)

In [32]:
gr_pr_dis = network.stack_2_graph(stack_pr_dis)

In [33]:
model6 = nod.node_2_vec(gr_pr_dis,"./models/pr_dis.model")

Computing transition probabilities:   0%|          | 0/5144 [00:00<?, ?it/s]

Generating walks (CPU: 1): 100%|███████████████████████████████████████████████████████| 10/10 [00:01<00:00,  5.69it/s]

In [34]:
values = nod.returnSimilars(model6,"P35228")

In [35]:
values

[('aortic aneurysm', 0.4493325650691986),
 ('female urogenital diseases', 0.44656533002853394),
 ('P32238', 0.4131825864315033),
 ('hematemesis', 0.41065290570259094),
 ('edema of the optic disc', 0.4027710556983948),
 ('histiocytosis, langerhans-cell', 0.3813241124153137),
 ('kidney cortex necrosis', 0.3787080943584442),
 ('ataxia', 0.3742469847202301),
 ('Q9Y285', 0.36957672238349915),
 ('hyperparathyroidism, primary', 0.36145251989364624)]

In [38]:
elements = []
for a in values:
    if a[0][0] != "Q" and a[0][0] != "P" :
        elements.append(a)

In [39]:
elements

[('aortic aneurysm', 0.4493325650691986),
 ('female urogenital diseases', 0.44656533002853394),
 ('hematemesis', 0.41065290570259094),
 ('edema of the optic disc', 0.4027710556983948),
 ('histiocytosis, langerhans-cell', 0.3813241124153137),
 ('kidney cortex necrosis', 0.3787080943584442),
 ('ataxia', 0.3742469847202301),
 ('hyperparathyroidism, primary', 0.36145251989364624)]

## Drug-Side effect

In [40]:
dr_se= read.mat_drug_se()

In [42]:
stack_dr_se = network.pandas_mat_2_stack(dr_se)

In [43]:
gr_dr_se = network.stack_2_graph(stack_dr_se)

In [45]:
stack_dr_se

        source               target  weight
0      DB00050     hypersensitivity       1
1      DB00050             pruritus       1
2      DB00050               nausea       1
3      DB00050             headache       1
4      DB00050             erythema       1
...        ...                  ...     ...
80159  DB08860        renal failure       1
80160  DB08860  acute renal failure       1
80161  DB08860       rhabdomyolysis       1
80162  DB08860             myositis       1
80163  DB08860        myoglobinuria       1

[80164 rows x 3 columns]

In [44]:
model7 = nod.node_2_vec(gr_dr_se,"./models/dr_se.model")

Computing transition probabilities:   0%|          | 0/4536 [00:00<?, ?it/s]

Generating walks (CPU: 1): 100%|███████████████████████████████████████████████████████| 10/10 [00:00<00:00, 62.85it/s]

In [46]:
values = nod.returnSimilars(model7,"DB00050")

In [47]:
values

[('rash erythematous', 0.38986167311668396),
 ('chemosis', 0.3794359266757965),
 ('keratosis pilaris', 0.3773442506790161),
 ('STS', 0.36610084772109985),
 ('serositis', 0.36375826597213745),
 ('AT1', 0.35714685916900635),
 ('neck swelling', 0.3550765812397003),
 ('DB00651', 0.3487817645072937),
 ('asthma', 0.3420107066631317),
 ('Post procedural pain', 0.3419107496738434)]

In [48]:
elements = []
for a in values:
    if a[0][0:2] != "DB":
        elements.append(a)

In [50]:
elements

[('rash erythematous', 0.38986167311668396),
 ('chemosis', 0.3794359266757965),
 ('keratosis pilaris', 0.3773442506790161),
 ('STS', 0.36610084772109985),
 ('serositis', 0.36375826597213745),
 ('AT1', 0.35714685916900635),
 ('neck swelling', 0.3550765812397003),
 ('asthma', 0.3420107066631317),
 ('Post procedural pain', 0.3419107496738434)]